.temp-list-view {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
  }
}
